body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: x-large;
}

/*icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.mother-container {
    margin: auto;
    padding: 40px;
}

.mother-container > div {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
}

/*passkey generator*/

.pass-container > * {
    display: block;
    margin: 20px auto;
    width: 180px;
    height: 45px;
    border-radius: 5px;
}

#pass-btn {
    background-color: rgb(130, 201, 130);
    border: 1px solid lime;
    box-shadow: 10px rgb(118, 189, 118) inset;
}

#pass-btn:hover {
    cursor: pointer;
}

#pass-btn:active {
    background-color: rgb(162, 228, 162);
}

#pass-display, #pass-display::placeholder {
    text-align: center;
    vertical-align: middle;
}

/*pass key input*/

#input-container {
    padding: 10px;
    margin-top: 2px;
}

#input-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0;
}

#pass-input {
    display: inline-block;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Keypad*/

#keypad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}

#keypad button {
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
}

#pop {
    background-color: rgb(160, 160, 5);
    color: white;
}

#clear{
    background-color: rgb(129, 2, 2);
    color: white;
}

#check {
    background-color: rgb(1, 54, 1);
    color: white;
}

/*message*/

#message {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}

.error-msg {
    background-color: rgb(177, 4, 4) !important;
    opacity: 0.8;
    color: white;
}

.success-msg {
    background-color: green !important;
    opacity: 0.8;
    color: white;
}

.hidden {
    display: none;
}

@media screen and (min-width: 300px) {
    #keypad {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 701px) {
    #keypad {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .mother-container {
        display: flex;
        align-content: stretch;
        justify-content: center;
        gap: 2px;
        width: 95%;
        height: 95%;
    }

    .mother-container > div {
        width: 45%;
    }
}
